.select {
    min-width: 10em;
    outline: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    position: relative;
}

.label {
    display: block;
    margin-bottom: 0.2em;
}

.button {
    font-weight: 600;
    color: var(--primary-color);
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    border: none;
    padding: 0.5em;
}

.list {
    visibility: hidden;
    width: calc(100% + 2px);
    border: 2px solid black;
    position: absolute;
    background-color: var(--inverted-bg-color);
    border-radius: 6px;
    margin-top: 0.3em;
}

.list.open {
    visibility: visible
} 

.item:not(:last-child) {
    border-bottom: 1px solid var(--bg-color);
}

.content {
    display: block;
    padding: 0.5em;
    color: var(--inverted-primary-color)
}

.content:hover {
    display: block;
    padding: 0.5em;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.list :first-child :hover {
    border-radius: 4px 4px 0 0;
}

.list :last-child :hover {
    border-radius: 0 0 4px 4px;
}

.readonly {
    opacity: 0.7;
}
