.sidebar {
    width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: var(--inverted-bg-color);
    padding: 1em;
    transition: width 0.5s;
    position: relative;
}

.sidebar svg,
.sidebar path {
    fill: var(--bg-color);
    stroke: var(--bg-color);
}

.collapsed {
    width: 50px;
}

.btnCollapse {
    position: absolute;
    right: 0.35em;
    bottom: 0.35em;
    border: 2px solid var(--bg-color);
    border-radius: 6px;
    padding: 0.35em;
}

.btnCollapse:hover {
    border: 2px solid var(--color-hover);
}

.btnCollapse:hover svg,
.btnCollapse:hover path {
    fill: var(--color-hover);
    stroke: var(--color-hover);
}

.btnCollapse svg {
    display: flex;
    width: 1.5em;
    height: 1.5em;
}
