.userCard {
    padding: 1em;
}

.input {
    margin-top: 0.5em;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.isEdit {
    box-shadow: 0 0 10px var(--inverted-bg-color);
}

.avatar {
    width: 100px;
    height: 100px;
}