.item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 2em;
    height: 2em;
    color: var(--inverted-primary-color);
}

.item:hover path {
    color: var(--color-hover);
    transform: scale(1.03);
}

.item.active {
    color: var(--secondary-color);
}

.item.active path {
    fill: var(--secondary-color);
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.5s;
}

.icon {
    width: 1.5em;
    height:  1.5em;
    flex-shrink: 0;
}

.collapsed .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s;
}
