.sidebar {
    width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: var(--inverted-bg-color);
    padding: 1em;
    transition: width 0.5s;
    position: relative;
}

.sidebar svg {
    fill: var(--bg-color)
}

.collapsed {
    width: 50px;
}

.btnCollapse {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    border: 1px solid var(--bg-color);
    border-radius: 6px;
}

.btnCollapse svg {
    display: flex;
    width: 2em;
    height: 2em;
}
