.tabs {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    padding-bottom: 1em;
}

.normal {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
    border: 2px solid var(--bg-color);
}

.outline {
    border: 2px solid var(--inverted-bg-color);
    background: var(--secondary-color);
}

.tabs > * {
    scroll-snap-align: start;
    padding: 1em;
    border-radius: 12px;
    height: 100%;
    transition: 0.3s transform;
}

.tabs > *:hover {
    transition: 0.5s background-color;
}

.tabs > *:hover:not(.normal) {
    background-color: var(--color-hover);
}