.addCommentForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCommentForm > button{
    align-self: stretch;
    transition: 0.5s background-color
}

.addCommentForm > button:hover {
    background-color: var(--color-hover);
}


.input {
    flex-grow: 1;
}
