.main {
    height: var(--content-height);
    background-color: var(--bg-color);
    padding: 1em;
    width: 100%;
    overflow-x:  scroll;
    overflow-x: hidden;
}

.pageLoader {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}