.button {
    padding: 0.5em;
    border: none;
}

.clear {
    all: unset;
    color: var(--bg-color);
    cursor: pointer;
}

.primary {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}
